.places {
    margin-top: 30px;
}

.place-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.place {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 20px;
}

.place h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}

.place p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .place {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .place {
        width: 100%;
    }
}
